<!-- Banner -->
<section class="hero position-relative text-center text-white"">
</section>

<!-- Cards -->
<div class="container">
<h1 class="my-4">My movies lists</h1>
  <div class="row mb-4">
    <%  @lists.each do |list|%>
      <div class="card m-2 col-4" style="width: 18rem;">
        <%= image_tag "placeholder.png", alt: "placeholder", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-text"><%= link_to list.name, list_path(list) %></h5>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-4">
    <div class="text-center"><%= link_to 'New list', new_list_path, class: "btn btn-dark btn-lg"%></div>
  </div>
</div>
